#
# Ignore All
#
*

#
# Except for yaml 
#
!*.yaml
!.gitignore
!*.md
!\[packages\]/**
!\[ui\]/**
!www/*

#
# Except for scripts
#
!*.sh

#
# Ignore temp and special folders
#
tts
deps
icloud

#
# Ensure that secrets are ignored
#
ip_bans.yaml
secrets.yaml
known_devices.yaml
